<!-- ADMINISTRAROR -->
<div class="animate-bottom sub-container" id="div-administrador" style="display: none;">
    <div class="container">
        <h1>Administración</h1>
        <div class="card animate-bottom">
            <hr class="divider-base">
            <div class="tab-bar">
                <button class="tab-nav" data-id="mensajes" id="tabMensajes">Mensajes</button>
                <button class="" id="tabNotificaciones">Notificaciones</button>
                <button class="tab-nav" data-id="imagenes" id="tabImagenes">Imágenes</button>
                <button class="tab-nav" data-id="usuarios" id="tabUsuarios">Usuarios</button>
            </div>
            <div class="row">
                <div class="card-body">
                    <!-- TAB MENSAJES -->
                    <div id="mensajes" class="tab-content" data-visible="true">
                        <h3>Mensajes de contacto</h3>
                        <hr class="divider-base">
                        <div>
                            <table style="width:100%" id="tblMensajes" class="table table-dark">
                                <thead>
                                    <tr>
                                        <th>Usuario</th>
                                        <th>Asunto</th>
                                        <th>Estado</th>
                                        <th>Fecha del mensaje</th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody></tbody>
                            </table>
                        </div>
                    </div>
                    <!-- TAB MENSAJES -->
                    <!-- TAB NOTIFICACIONES -->
                    <!-- <div id="notificaciones" class="tab-content" data-visible="false">
                        <h3>Notificaciones</h3>
                        <hr class="divider-base">
                        <div>
                            <table style="width:100%" id="tblNotificaciones" class="table table-dark">
                                <thead>
                                    <tr>
                                        <th>Tipo de alerta</th>
                                        <th>Mensaje</th>
                                        <th>Estado</th>
                                        <th>Fecha de la alerta</th>
                                        <th>Estado</th>
                                    </tr>
                                </thead>
                                <tbody></tbody>
                            </table>
                        </div>
                    </div> -->
                    <!-- TAB NOTIFICACIONES -->
                    <!-- TAB IMÁGENES -->
                    <div id="imagenes" class="tab-content" data-visible="false">
                        <h3>Imágenes</h3>
                        <hr class="divider-base">
                        <div>
                            <button id="agregarImagen">Nueva imagen</button>
                        </div>
                        <br>
                        <hr class="divider-base">
                        <div>
                            <table style="width:100%" id="tblImagenes" class="table table-dark">
                                <thead>
                                    <tr>
                                        <!-- <th>ImagenId</th> -->
                                        <th>Vista previa</th>
                                        <th>Descripción</th>
                                        <!-- <th>Ruta</th> -->
                                        <th>Producto relacionado</th>
                                    </tr>
                                </thead>
                                <tbody></tbody>
                            </table>
                        </div>
                    </div>
                    <!-- TAB IMÁGENES -->
                    <!-- TAB USUARIOS -->
                    <div id="usuarios" class="tab-content" data-visible="false">
                        <h3>Usuarios</h3>
                        <hr class="divider-base">
                        <div>
                            <button id="agregarUsuario">Agregar usuario</button>
                        </div>
                        <br>
                        <hr class="divider-base">
                        <div>
                            <table style="width:100%" id="tblUsuarios" class="table table-dark">
                                <thead>
                                    <tr>
                                        <th>Nombre</th>
                                        <th>Email</th>
                                        <th>Fecha nacimiento</th>
                                        <th>Tipo de usuario</th>
                                        <th>Estado de usuario</th>
                                    </tr>
                                </thead>
                                <tbody></tbody>
                            </table>
                        </div>
                    </div>
                    <!-- TAB USUARIOS -->
                </div>
            </div>
        </div>
    </div>
</div>
<!-- ADMINISTRAROR FIN-->