<!-- REGISTRO -->
<div class="animate-bottom sub-container" id="div-contacto" style="display: none;">
    <div class="container">
        <h1>Contacto</h1>
        <div class="card animate-bottom">
            <hr class="divider-base">
            <div class="card-body">
                <form id="frmContacto">
                    <div class="row">
                        <h3>Información</h3>
                        <hr class="divider-base">
                        <div class="frm-col-7">
                            <div class="form-group">
                                <label for="txtAsuntoContacto" style="display:block">Asunto</label>
                                <input type="text" data-id="text" class="form-control input-form" id="txtAsuntoContacto">
                            </div>
                        </div>
                        <div class="frm-col-3">
                            <div class="form-group">
                                <label for="txtUsuarioContacto" style="display:block">Usuario</label>
                                <input type="text" data-id="text" class="form-control input-form" id="txtUsuarioContacto" readonly disabled>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="frm-col-1">
                            <div class="form-group">
                                <label for="txtMensajeContacto" style="display:block">Mensaje:</label>
                                <textarea rows="5" data-id="text" class="form-control input-form" id="txtMensajeContacto"></textarea>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="frm-col-1">
                            <button class="btn btn-success" id="btnRegistrar" data-id="frmRegistrar">Registrarse</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- REGISTRO -->