<div class="footer">
    <div class="container-fluid">
        <div class="row">
            <div class="frm-col-3">
                <strong>Grupo Proarp, S.A. de C.V.</strong>
                <p>Calle 25 #47 Col. Olivar del Conde. CDMX.</p>
            </div>
            <div class="frm-col-6">
                <small>
                    <strong>Copyright © Todos los derechos reservados.</strong>
                    Todos los contenidos de este Sitio están sujetos a derechos de propiedad por las leyes de
                    Derechos de Autor y demás Leyes relativas Internacionales a La Empresa y de terceros titulares
                    de los mismos que han autorizado debidamente su inclusión.
                </small>
            </div>
        </div>
    </div>
</div>