<!-- INICIO SESION -->
<div class="animate-bottom sub-container" id="div-inicio-sesion">
    <div class="container">
        <h1>Inicio de sesión</h1>
        <div class="card animate-bottom">
            <hr class="divider-base">
            <div class="column-login-img">
                <img class="img-login" src="../assets/proarp-min.png"></img>
            </div>
            <div class="column-login">
                <div class="card-body">
                    <form id="frmLogin"> 
                        <div class="form-group">
                            <label for="txtUsername">Email</label>
                            <input type="text" data-id="text" class="form-control input-form" id="txtUsername">
                        </div>
                        <div class="form-group">
                            <label for="txtPassword">Contraseña</label>
                            <input type="password" data-id="password" class="form-control input-form" id="txtPassword">
                        </div>
                        <small><a href="javascript:void(0)" class="link">Olvidé mi contraseña</a></small>
                        <br><br>
                        <button class="btn btn-primary" id="btnLogin" data-id="frmLogin">Acceder</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- INICIO SESION FIN-->