<div id="div-inicio" class="animate-bottom sub-container">

    <div class="row">
        <h1>Bienvenido</h1>
        <hr class="divider-base">
    </div>
    <div class="slideshow-container">
        <div class="carrousel-slide">
            <img src="/proarp/assets/carrousel/first.jpg" style="width:100%">
        </div>
        <div class="carrousel-slide">
            <img src="/proarp/assets/carrousel/second.jpg" style="width:100%">
        </div>
        <div class="carrousel-slide">
            <img src="/proarp/assets/carrousel/third.jpg" style="width:100%">
        </div>
        <a class="prev" onclick="navegacion(-1, 1)">&#10094;</a>
        <a class="next" onclick="navegacion(1, 1)">&#10095;</a>
    </div>

    <script>
        var slideIndex = [1, 1];
        showSlides(1, 1);

        function navegacion(n, no) {
            showSlides(slideIndex[no] += n, no);
        }
        function showSlides(n, no) {
            var slide = document.getElementsByClassName("carrousel-slide");
            if (n > slide.length) { slideIndex[no] = 1 }
            if (n < 1) { slideIndex[no] = slide.length }
            for (let i = 0; i < slide.length; i++) {
                slide[i].style.display = "none";
            }
            slide[slideIndex[no] - 1].style.display = "block";
        }
    </script>
</div>