<!-- INICIO SESION -->
<div class="animate-bottom sub-container" id="div-inicio-sesion">
    <div class="container">
        <h1>Reestablecer contraseña</h1>
        <div class="card animate-bottom">
            <hr class="divider-base">
            <div class="row">
                <div class="card-body login">
                    <div class="row">
                        <div class="frm-col-1">
                            <img class="img-login" src="../assets/proarp-min.png">
                        </div>
                    </div>
                    <div class="row">
                        <form id="frmNewPassword">
                            <div class="frm-col-1">
                                <div class="form-group">
                                    <label for="txtResetUsername">Email</label>
                                    <input type="text" data-id="email" class="form-control input-form" id="txtResetUsername">
                                </div>
                            </div>
                            <div class="frm-col-2">
                                <div class="form-group">
                                    <label for="txtResetPassword">Ingrese una nueva contraseña:
                                        <i class="tooltip">?
                                            <span class="tooltiptext">Longitud mínima de 8 y máxima de 15 caracteres y debe contener por lo menos un caracter especial "#$^+=!*()@%&". Por ejemplo: contrasena123!, contrasen@
                                            </span>
                                        </i>
                                    </label>
                                    <input type="password" data-id="password" for="txtResetConfirmaPassword" class="form-control input-form" id="txtResetPassword">
                                </div>
                            </div>
                            <div class="frm-col-2">
                                <div class="form-group">
                                    <label for="txtResetConfirmaPassword">Confirme la contraseña: </label>
                                    <input type="password"data-id="password" for="txtResetConfirmaPassword" class="form-control input-form" id="txtResetConfirmaPassword">
                                </div>
                            </div>
                            <div class="frm-col-1">
                                <div class="form-group">
                                    <button class="btn btn-primary" id="btnResetPassword" data-id="frmNewPassword">Reestablecer</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- INICIO SESION FIN-->