<!-- REGISTRO -->
<div class="animate-bottom sub-container" id="div-registro-usuario">
    <div class="container">
        <h1>Nuevo usuario</h1>
        <div class="card animate-bottom">
            <hr class="divider-base">
            <div class="card-body">
                <form id="frmRegistrar">
                    <div class="row">
                        <h3>Datos</h3>
                        <hr class="divider-base">
                        <div class="frm-col-3">
                            <div class="form-group">
                                <label for=txtRegistroNombre style="display:block">Nombres</label>
                                <input type="text" data-id="text" class="form-control input-form" id="txtRegistroNombre"  required>
                            </div>
                        </div>
                        <div class="frm-col-3">
                            <div class="form-group">
                                <label for=txtRegistroPaterno style="display:block">Apellido paterno</label>
                                <input type="text" data-id="text" class="form-control input-form" id="txtRegistroPaterno">
                            </div>
                        </div>
                        <div class="frm-col-3">
                            <div class="form-group">
                                <label for=txtRegistroMaterno style="display:block">Apellido materno</label>
                                <input type="text" data-id="text" class="form-control input-form" id="txtRegistroMaterno">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="frm-col-2">
                            <div class="form-group">
                                <label for=txtRegistroFecha style="display:block">Fecha de nacimiento</label>
                                <input type="date" data-id="date" min="1910-01-01" class="form-control input-form" id="txtRegistroFecha">
                            </div>
                        </div>
                        <div class="frm-col-2">
                            <div class="form-group">
                                <label for=txtRegistroEmail style="display:block">Email</label>
                                <input type="email" data-id="email" class="form-control input-form" id="txtRegistroEmail">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="frm-col-2">
                            <div class="form-group">
                                <label for="txtPassword">Ingrese una contraseña:
                                    <i class="tooltip">?
                                        <span class="tooltiptext">Longitud mínima de 8 caracteres y debe contener por lo menos un caracter especial por ejemplo: #,$,-,_,&,%
                                        </span>
                                    </i>
                                </label>
                                <input type="password" data-id="password" for="txtRegistroConfirmaPassword" class="form-control input-form" id="txtRegistroPassword">
                            </div>
                        </div>
                        <div class="frm-col-2">
                            <div class="form-group">
                                <label for="txtPassword">Confirme la contraseña: </label>
                                <input type="password"data-id="password" for="txtRegistroPassword" class="form-control input-form" id="txtRegistroConfirmaPassword">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="frm-col-1">
                            <p>Al crear una cuenta aceptas nuestros términos y condiciones
                                <a class="link" href="javascript:void(0)">Terminos &amp; Condiciones</a>
                            </p>
                            <br>
                            <button class="btn btn-primary" id="btnRegistrar" data-id="frmRegistrar">Registrarse</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- REGISTRO -->