<!-- INICIO SESION -->
<div class="animate-bottom sub-container" id="div-reset-password" style="display: none;">
    <div class="container">
        <h1>Reestablecer contraseña</h1>
        <div class="card animate-bottom">
            <hr class="divider-base">
            <div class="row">
                <div class="card-body login">
                    <div class="row">
                        <div class="frm-col-1">
                            <img class="img-login" src="../assets/proarp-min.png">
                        </div>
                    </div>
                    <div class="row">
                        <form id="frmResetPassword">
                            <br>
                            <div class="frm-col-1">
                                <div class="form-group">
                                    <label for="txtResetEmail">Email</label>
                                    <input type="text" data-id="email" class="form-control input-form" id="txtResetEmail">
                                </div>
                                <label>
                                    Se enviará un correo electrónico que te permitirá reestablecer tu contraseña, el enlace tendrá una vigencia de 24 horas.

                                </label>
                                <br><br>
                                <button class="btn btn-default" id="btnCancelarPassword" data-id="frmResetPassword">Regresar</button>
                                <button class="btn btn-primary" id="btnResetPassword" data-id="frmResetPassword">Enviar correo</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- INICIO SESION FIN-->