<div class="modal fade animate-bottom" id="mdlConfirm" style="display: none;">
    <div class="modal-confirm-content">
        <div class="container">
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <h3>Confirmación</h3>
                        <hr class="divider-base">
                    </div>
                    <div class="row">
                        <div class="frm-col-1">
                            <div class="form-group" id="mdlConfirmMensaje">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="frm-col-1" id="mdlCallbackDiv">
                            <button class="btn btn-success" id="btnAceptarConfirmacion" >Aceptar</button>
                            <button class="btn btn-info" id="btnCancelarConfirmacion" >Cancelar</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>