<div class="modal fade animate-bottom" id="mdlNuevoProveedor" style="display: none;">
    <div class="modal-content">
        <div class="modal-header">
            <span id="closeAlert" style="cursor:pointer;float: right;" onclick="document.getElementById('mdlDetalleProveedor').style.display = 'none'">x</span>
        </div>
        <div class="container">
            <div class="card">
                <div class="card-body">
                    <form id="frmNuevoProveedor">
                        <div class="row">
                            <h3>Detalle</h3>
                            <hr class="divider-base">
                        </div>
                        <div class="row">
                            <div class="frm-col-2">
                                <div class="form-group">
                                    <label for="txtRazonNuevoProv" style="display:block">Razón social</label>
                                    <input type="text" data-id="text" class="form-control input-form" id="txtRazonNuevoProv">
                                </div>
                            </div>
                            <div class="frm-col-2">
                                <div class="form-group">
                                    <label for="txtMarcaNuevoProv" style="display:block">Marca comercial</label>
                                    <input type="text" data-id="text" class="form-control input-form" id="txtMarcaNuevoProv">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="frm-col-2">
                                <div class="form-group">
                                    <label for="txtRFCNuevoProv" style="display:block">RFC</label>
                                    <input type="text" data-id="rfc" class="form-control input-form" id="txtRFCNuevoProv">
                                </div>
                            </div>
                            <div class="frm-col-2">
                                <div class="form-group">
                                    <label for="txtDireccionNuevoProv" style="display:block">Dirección</label>
                                    <input type="text" data-id="text" class="form-control input-form" id="txtDireccionNuevoProv">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="frm-col-3-3">
                                <div class="form-group">
                                    <label for="txtTelefonoNuevoProv" style="display:block">Teléfono</label>
                                    <input type="text" data-id="telefono" class="form-control input-form" id="txtTelefonoNuevoProv">
                                </div>
                            </div>
                            <div class="frm-col-3-3">
                                <div class="form-group">
                                    <label for="txtTelefonoAltNuevoProv" style="display:block">Teléfono alternativo</label>
                                    <input type="text" data-id="telefono" class="form-control input-form" id="txtTelefonoAltNuevoProv">
                                </div>
                            </div>
                            <div class="frm-col-3-3">
                                <div class="form-group">
                                    <label for="txtContactoNuevoProv" style="display:block">Contacto</label>
                                    <input type="text" data-id="text" class="form-control input-form" id="txtContactoNuevoProv">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="frm-col-1">
                                <div class="form-group">
                                    <label for="txtDescripcionNuevoProv" style="display:block">Descripción:</label>
                                    <textarea rows="5" class="form-control input-form" id="txtDescripcionNuevoProv"></textarea>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="frm-col-1">
                                <div class="form-group">
                                    <label for="txtNotasNuevoProv" style="display:block">Notas:</label>
                                    <textarea rows="5" class="form-control input-form" id="txtNotasNuevoProv"></textarea>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="frm-col-1">
                                <button class="btn btn-success" id="btnAceptarNuevoProveedor" >Guardar</button>
                                <button class="btn btn-info btn-close-modal" id="btnCerrarModal" data-id="mdlNuevoProveedor">Cancelar</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>