<div class="modal fade animate-bottom" id="mdlDetalleProveedor" style="display: none;">
    <div class="modal-content">
        <div class="container">
            <div class="card">
                <div class="card-body">
                    <form id="frmDetalleProveedor">
                        <div class="row">
                            <h3>Detalle</h3>
                            <hr class="divider-base">
                        </div>
                        <div class="row">
                            <div class="frm-col-2">
                                <div class="form-group">
                                    <label for="txtRazonDetalleProv" style="display:block">Razón social</label>
                                    <input type="text" data-id="text" class="form-control input-form" id="txtRazonDetalleProv">
                                </div>
                            </div>
                            <div class="frm-col-2">
                                <div class="form-group">
                                    <label for="txtMarcaDetalleProv" style="display:block">Marca comercial</label>
                                    <input type="text" data-id="text" class="form-control input-form" id="txtMarcaDetalleProv">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="frm-col-2">
                                <div class="form-group">
                                    <label for="txtRFCDetalleProv" style="display:block">RFC</label>
                                    <input type="text" data-id="rfc" class="form-control input-form" id="txtRFCDetalleProv">
                                </div>
                            </div>
                            <div class="frm-col-2">
                                <div class="form-group">
                                    <label for="txtDireccionDetalleProv" style="display:block">Dirección</label>
                                    <input type="text" data-id="text" class="form-control input-form" id="txtDireccionDetalleProv">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="frm-col-3-3">
                                <div class="form-group">
                                    <label for="txtTelefonoDetalleProv" style="display:block">Teléfono</label>
                                    <input type="text" class="form-control input-form" id="txtTelefonoDetalleProv">
                                </div>
                            </div>
                            <div class="frm-col-3-3">
                                <div class="form-group">
                                    <label for="txtTelefonoAltDetalleProv" style="display:block">Teléfono alternativo</label>
                                    <input type="text" class="form-control input-form" id="txtTelefonoAltDetalleProv">
                                </div>
                            </div>
                            <div class="frm-col-3-3">
                                <div class="form-group">
                                    <label for="txtContactoDetalleProv" style="display:block">Contacto</label>
                                    <input type="text" class="form-control input-form" id="txtContactoDetalleProv">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="frm-col-1">
                                <div class="form-group">
                                    <label for="txtDescripcionDetalleProv" style="display:block">Descripción:</label>
                                    <textarea rows="5" class="form-control input-form" id="txtDescripcionDetalleProv"></textarea>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="frm-col-1">
                                <div class="form-group">
                                    <label for="txtNotasDetalleProv" style="display:block">Notas:</label>
                                    <textarea rows="5" class="form-control input-form" id="txtNotasDetalleProv"></textarea>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="frm-col-1">
                                <button class="btn btn-success" id="btnAceptarProveedor" >Guardar</button>
                                <button class="btn btn-cancel" id="btnEliminarProveedor">Eliminar</button>
                                <button class="btn btn-info btn-close-modal" id="btnCerrarModal" data-id="mdlDetalleProveedor">Cancelar</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>