<div class="modal fade animate-bottom" id="mdlNuevoProducto" style="display: none;">
    <div class="modal-content">
        <div class="modal-header">
            <span style="cursor:pointer;float: right;" onclick="document.getElementById('mdlNuevoProducto').style.display = 'none'">x</span>
        </div>
        <div class="container">
            <div class="card">
                <div class="card-body">
                    <form id="frmNuevoProducto">
                        <div class="row">
                            <h3>Detalle</h3>
                            <hr class="divider-base">
                        </div>
                        <div class="row">
                            <div class="frm-col-2">
                                <div class="form-group">
                                    <label for="txtNombreNuevoProd" style="display:block">Nombre</label>
                                    <input type="text" data-id="text" class="form-control input-form" id="txtNombreNuevoProd">
                                </div>
                            </div>
                            <div class="frm-col-2">
                                <div class="form-group">
                                    <label for="txtFechaNuevoProd" style="display:block">Fecha de compra</label>
                                    <input type="date" data-id="dateNoAge" class="form-control input-form" id="txtFechaNuevoProd">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="frm-col-1">
                                <div class="form-group">
                                    <label for="txtDescripcionNuevoProd" style="display:block">Descripción:</label>
                                    <textarea rows="5" data-id="text" class="form-control input-form" id="txtDescripcionNuevoProd" ></textarea>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="frm-col-2-5">
                                <div class="form-group">
                                    <label for="txtPrecioCompraNuevoProd" style="display:block">Precio de compra</label>
                                    <input type="number" data-id="decimal" class="form-control input-form" id="txtPrecioCompraNuevoProd">
                                </div>
                            </div>
                            <div class="frm-col-2-5">
                                <div class="form-group">
                                    <label for="txtPrecioVentaNuevoProd" style="display:block">Precio de venta</label>
                                    <input type="number" data-id="decimal" class="form-control input-form" id="txtPrecioVentaNuevoProd">
                                </div>
                            </div>
                            <div class="frm-col-2-5">
                                <div class="form-group">
                                    <label for="txtExistenciasNuevoProd" style="display:block">Existencias</label>
                                    <input type="number" data-id="number" class="form-control input-form" id="txtExistenciasNuevoProd">
                                </div>
                            </div>
                            <div class="frm-col-2-5">
                                <div class="form-group">
                                    <label for="cmbProveedorNuevoProd" style="display:block">Proveedor</label>
                                    <select class="form-control input-form" id="cmbProveedorNuevoProd"></select>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="frm-col-1">
                                <button class="btn btn-success" id="btnAceptarNuevoProducto" >Guardar</button>
                                <button class="btn btn-info btn-close-modal" id="btnCerrarModal" data-id="mdlNuevoProducto">Cancelar</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>